@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);

#bars {
  @apply relative h-5 w-10;
}

.bar {
  @apply absolute bottom-[1px] h-[3px] w-[2px];
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: 0.35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 12px;
  }
}
