@tailwind base;
@tailwind components;
@tailwind utilities;

#bars {
  @apply relative h-5 w-10;
}

.bar {
  @apply absolute bottom-[1px] h-[3px] w-[2px];
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
    @apply opacity-35;
    height: 3px;
  }
  100% {
    @apply opacity-100;
    height: 12px;
  }
}
